# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store

# Build
build/
dist/

# Database
*.db

# Firebase Secrets
firebase/serviceAccountKey.json

# ML Models
trained_models/

# Environment Variables
.env

# Cache
.pytest_cache/
.mypy_cache/

# Render
.render/
